:root {
  --shell: rgb(0, 0, 0);
  --shellText: white;
  --day: rgb(70, 130, 180);
  --night: rgb(25, 25, 112);
  --off: rgb(40, 40, 40);
  --onOff:rgb(100,100,100);
}

* {
  box-sizing: border-box;
}

body {
  touch-action: none;
  overscroll-behavior: none;
  font-family: 'Roboto', sans-serif;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  background: var(--shell);
}

#patternStart {
  width:50%;
  height:7%;
  background: var(--off);
  font-size: 140%;
  -webkit-user-select: none;
  user-select: none;
}

#patternBox::-webkit-scrollbar {
  width: 12px; 
}

#patternBox::-webkit-scrollbar-thumb {
  background-color: var(--onOff); 
}

#patternBox::-webkit-scrollbar-track {
  background-color: var(--shell); 
}

#patternBox {
  scrollbar-width: thin;
  scrollbar-color: var(--onOff) var(--shell);
}

main {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: var(--shell);
}

#header {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  background: var(--off);
  color: var(--shellText);
  text-shadow: 1px 1px 1px black;
  font-size: 190%;
  cursor: pointer;
}

#dropBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 90%;
  transform: translate(0, -100%);
  transition: transform 0.5s;
  background: var(--shell);
  color: var(--shellText);

  #dropHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    font-size: 170%;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    color: var(--onOff);
    background: var(--night);
  }

  & p {
    text-align: center;
    padding: 0 2%;
  }

  #patternBox {
    overflow-x: scroll;
    background: var(--off);
    width: 100%;
    height: 10%;

    #pattern {
      display: flex;
      align-items: center;
      width: -moz-fit-content;
      width: fit-content;
      height: 100%;
      font-size: 150%;
      background: var(--off);

      & div {
        padding: 0 7px;
      }
    }

  }

  #patternBtns {
    width: 100%;
    height: 10%;

    & button {
      background: var(--off);
      color: var(--shellText);
      text-shadow: 3px 3px 3px black;
      cursor: pointer;
      outline: none;
      border: none;
      height: 100%;
      width: 33.3% !important;
      float: left;
      font-size: 130%;
    }

    #day {
      background: var(--day);
    }

    #night {
      background: var(--night);
    }

    #off {
      background: var(--off);
    }
  }

  & input {
    height: 7%;
    width: 100%;
    outline: none;
    margin: none;
    color: var(--shellText);
    background: var(--off);
    font-size: 140%;
    text-align: center;
    cursor:hover;
  }

  #calculate {
    width: 100%;
    height: 10%;
    font-size: 130%;
    background: var(--off);
    color: var(--shellText);
    text-shadow: 3px 3px 3px black;
    cursor: pointer;
    outline: none;
    border: none;
  }
}

#calendar {
  position: absolute;
  left: 0;
  top: 10%;
  overflow: hidden;
  width: 100%;
  height: 90% !important;
  background: var(--shell);
}

#calendarTop {
  width: 100%;
  height: 20%;
  background: rgb(0, 0, 0);
  color: var(--day);
  font-weight: bold;
  font-size: 120%;
  border-bottom: 3px solid black;
}

#calendarBody {
  width: 100%;
  height: 80%;
}

#monthYear {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65%;
  font-size: 140%;
  background: var(--night);
  text-shadow: 1px 1px 1px black;
  color: var(--onOff);
}

#weekDays {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35%;
  font-size: 85%;
  color: white;
  background: rgb(30, 30, 30);
  text-shadow: 1px 1px 1px black;
}

#weekDays div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.28%;
  height: 100%;
}

#monthDays {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  height: 100%;
}

#monthDays div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.28%;
  height: 16.66%;
  font-size: 100%;
  border: 3px solid black;
  color: var(--shellText);
}

#monthDays .dark {
  background: black;
}

.day {
  background: var(--day);

  color: var(--shellText);
  text-shadow: 3px 3px 3px black;
}

.night {
  background: var(--night);
  color: var(--shellText);
  text-shadow: 3px 3px 3px black;
}

.off {
  background: var(--off);
  color: var(--shellText);
  text-shadow: 1px 1px 2px black;
}